html {
    font-family: 'Quicksand', sans-serif;
    color: white;
}

a {
    text-decoration: none;
}

/* navbar */
.navbar ul {
    position: fixed;
    
    top: 0;
    text-align: left;
    list-style-type: none;
    
    margin: 0;
    margin-left: -.5em;
    
    padding-top: 1em;
    padding-bottom: 1em;
    
    width: 100%;
    
    background-color: #52BAD5;
}

.navbar li {
    display: inline-block;
    font-size: 30px; /* FIXXXXXXX */
}

.navbar li a {
    display: block;
    
    padding-right: 20%;
}

.navbar li a:visited, a {
    color: white;
}

.navbar li a:hover {
    color: lightslategray;
}

/* Welcome */
.welcome {
    margin: -.5em;
    margin-top: 6.75%;
    
    background-color: #B3B3B3;
    text-align: center;
    position: relative;
    
    /* padding-top: 10% */
    /* padding-bottom: 10% */
    
    
}
